body{
    margin: 1%;
    padding: 1%;
    font-size: 125%;
    font-family: 'Josefin Sans', sans-serif; 
    background-color: black;
    color: white;
    text-align: center;
}

p{
    padding: 10px;
}

header{
    background-color: rgb(185, 233, 255);
    padding: 5px;
}


h1{ 
    /* background-color: grey; */
    text-align: center;
    font-size: 2em;
    color: black;
    padding: 5px;
    margin: 5px;
}

ul {
    display: flex;
    flex-direction: column; 
    text-align: center;
    line-height: 1.5em;
}

nav a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;

}

#current {
    background-color: white;
    /* text-decoration: underline; */
    padding: 5px;
    border-radius: 5px;
}
#current::after{
    /* content: "\1F483"; */
    content: " \2605";
    /* content: url('dancing.png') */
}


a.skip{
    left: 0px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
    background-color: white;
    color:  black;
}

a.skip:focus{
   position: absolute;
   top: 0px;
    
}

footer{
    bottom: 0;
    background-color:rgb(185, 233, 255);
    text-align: center;
    color: black;
    padding: 5px;
    margin: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr) 1fr;
    width: 97%;
    margin: auto;
    grid-gap:15px;
}

.grid-container img{
    border-radius: 10px;
}


.Talia{
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
}
.showVideo {
    border: solid 2px rgb(185, 233, 255);
}

#name, #email, #message{
    color: grey;
}

.contactForm {
    border-radius: 5px;
    justify-self: center;
    padding: 20px;
  }

/* .caption */
/* .intropage{
    position: relative;
    text-align: center;
/* } */

.introPage{
    display: grid;
    /* position: relative; */
    text-align: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row-gap: 10px;
} 

.smallGroup{
    grid-column: 1/ -1;
    max-height: 700px;
    overflow: hidden;
    grid-row: 1 /  -1;  
}

/* .smallGroup img{
    align-self: center;
} */
.aboutCadence{
    /* position: absolute;
    margin: 0 auto; */
    background-color: rgba(255, 255, 255, .85);
    padding: 30px;
    color: black;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    border-radius: 10px;;
}  
 .about2{
    grid-column: 2/span 1;
    border: solid white 2px;
    border-radius: 10px;
 }


h2{
    font-size: 125%;
    padding: 10px;
    text-align: center;
    /* box-shadow: 0px 0px 20px 0px #ffffff; */
}

.shows h2, .shows p{
    margin: 20px;
}

.disclaimer{
    font-size: 75%;
}

.videos2020, .videos2019, .videos2018, .videos2017 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.videos2021{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.resolution{
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}
.resolutionCaption{
    grid-column: 2 / span 1;
    grid-row: 1/ span 1;
    align-self: center;
}

.youtubeButton{
    background-color:rgb(185, 233, 255) ;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px 0px rgb(185, 233, 255);
}

/* .2020videos iframe{
    display: flex;
} */

 
/* .smallGroup{
    opacity: 0.5;
    border: solid 3px black;
} */





/* .Talia{
    justify-content: center;
} */

/* .contact_main{
    background-image: url("../images/backstage-bw.jpeg");
} */
@keyframes movelogo {
    from{
        /* width: 500px; */
        opacity: 0;
    }
    to{
        /* width: 800px; */
        opacity: 1;
    }
} 

@media all and (min-width:768px){ 

    ul {
    flex-direction: row; 
    justify-content: space-around;
    }

    .grid-container img:hover{
    opacity: 0.75;
    }

    /* .smallGroup{
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } */

    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9, 1fr);
        width: 97%;
        margin: auto;
        grid-gap:15px;
    }
    .Talia{
        grid-column: 3 / -1;
        width: 100%;
    }

    h1{
        animation-name: movelogo;
        animation-duration: 4s;
        animation-iteration-count: 1;
        
    }

    .joinUsImages{
        width: 50%;
        margin: 0 auto;
    }

/* .intropage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr
} */

}


@media all and (min-width:1200px){
    /* still figuring out what to do with desktop view flex nav */
    h1{
        text-align: left;
        
    }
    ul {
        justify-content: space-around;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    h1{
        transition: none;
        animation: none;
    }

}